body {

    background: rgb(99, 45, 125);
    background-size: cover;

}

.body {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {

    position: relative;
    margin-bottom: 0;
    width: 100%;

}

.content {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 10px;
    box-sizing: border-box;
}

.registration  {
    padding: 50px;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 500px;

}

.signin {
    padding: 50px;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 500px;
}

.purplebtn {
    background-color: #ffffff;
    
}

.purplebtn:hover {
    background-color: #d8a8ff;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
}
.info1 {
 margin-top: 90px;
}
.info_profile {
    margin-top: 56px;
}

.create_contact {
    margin-top: 250px;
    margin-right: 200px;
}
.create_contact {
    padding: 50px;
        margin: 0 auto;
        margin-top: 100px;
        max-width: 500px;
}
.info3 {
    margin-left:auto;
}
.list-group-item {
    
    background-color: #21252969;
    color: black;
    border: #21252969;
   
}
.contact_table {
    
 color:black;
}

